#loginPage {
  margin-top: 8rem;
}

.loginform__container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.form__content {
  text-align: center;
}

form {
  padding: 1rem;
  margin: 1rem;
}

.btn.btn-primary {
  width: 100%;
}

.btn.btn-success {
  width: 50%;
}

h1 {
  color: #0b5bd4;
  margin-left: 2rem;
  margin: 0rem 2rem;
}

h3 {
  font-weight: 400;
  margin: 0rem 2rem;
}

span {
  color: #606770;
  margin: 0rem 2rem;
}

.card.my__card {
  border-radius: 20px;
}

/* ---------------------- TABLETS ---------------------- */
@media screen and (max-width: 991px) {
  .form__container {
    width: var(--container-width-md);
  }
}

/* ---------------------- MOBILES ---------------------- */
@media screen and (max-width: 787px) {
  #loginPage {
    margin-top: 5rem;
  }

  .loginform__container {
    width: var(--container-width-sm);
    grid-template-columns: none;
    text-align: center;
    gap: 1rem;
  }

  form {
    margin: 1rem;
    padding: 0.75rem;
  }

  span {
    font-size: 0.8rem;
    margin: 0rem;
  }
}
